body{
	background-color:tan;
	cursor: url(cursor.cur), auto;
}
nav {
	display:flex;
	text-align:center;
	justify-content: space-around;
	
}
ul {
	list-style:none;
}
ul li {
	padding: 1em;
}
a{
	color: green;
	font-family: 'Bowlby One SC', cursive;
}
h1 {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	padding-bottom:1em;
}
footer{
	
	padding-top:10em;
	text-align:center;
}
table, th, td {
    border: 1px solid black;
}
#moveObj {
width:50px;
height: 50px;
background-color:blue;
}

#moveObj2 {
width:50px;
height: 50px;
background-color:green;
}

#spinningArrow {
    animation-duration: 3s;    
    animation-delay: 2s;
    animation-fill-mode: both;
	animation:	rotate 3s infinite;
	animation-play-state: paused;
}

@keyframes rotateLeft {

	100%{transform: rotate(-360deg);}
}

@keyframes rotateRight {

	100%{transform: rotate(360deg);}
}

#object {
	width: 200px;
	height: 120px;
	position: absolute;
	background-color: white;
	}

#theMessage{
padding-left: 300px;
	top: 40%;
	position:absolute;
}
#messArea{
padding-left: 300px;
top: 35%;
position: absolute;
}


