body{
	background-color:#9D7B54;
	width: 100%;
	hight: 100%;
}
nav {

	
}
#container{
background-color:white;
height: 100%;
margin-left: 15px;
margin-right: 30px;
position:relative;
bottom:-60px;
}
ul {
	margin-bottom: -5px;
	list-style:none;
}
li {
	list-style:none;
	right:250px;
}
.metalitems{
	display:: flex;
	flew-flow: column;
	border-style: double;
    border-width: thick;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: 	#282747;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #b3dfc3;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

header {
	margin-top:-20px;
	margin-left:-8px;
	position: fixed;
	background-color: #003c51;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

h1{
text-align:center;
}