body{
	background-color:#9D7B54;
	width: 100%;
	hight: 100%;
}
nav {

	
}
#container{
background-color:white;
height: 100%;
margin-left: 15px;
margin-right: 30px;
}
ul {
	margin-bottom: -5px;
	list-style:none;
}
li {
	list-style:none;
	right:250px;
}
#sitems{
	display:: flex;
	flew-flow: column;
	border-style: double;
    border-width: thick;
}
