body{
	background-color:#9D7B54;
	width: 100%;
	hight: 100%;
}
nav {

	
}
#container{
background-color:white;
height: 100%;
margin-left: 15px;
margin-right: 30px;
}
ul {
	list-style:none;
}
li {
	list-style:none;
}
#sitems{
	display: flex;
}
